apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: doctor-appointment
  labels:
    app: prometheus
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    nodePort: 30090
    name: web
